body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: rgb(231, 215, 215);
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    margin: 0;
}
h2{
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 100px;
    color: #222;
    text-align: center;
}

#clock {
    background-color: #03010a;
    padding: 30px;
    border-radius: 20px;
}
